@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

body {
    margin: 0;
    padding: 0;
    background-image: url(/img/backgrondimage.jpeg);
    background-size: cover;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.navbar {
    width: 20%;
    height: 80vh;
    position: fixed;
    top: 0;
    float: right;
    background-color: rgba(0, 0, 0, 0.425);
    text-align: center;
}

.nav-item {
    padding: 20px 0 20px 0;
}

.nav-item a {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 0 10px rgba(108, 107, 107, 1);
}

.nav-item a:focus {
    color: whitesmoke;
}

.nav-item a:hover {
    color: yellow;
    opacity: 0.7;
    text-decoration: underline;
}

.dropdown-menu a {
    color: black;
}

.dropdown-menu a:hover {
    color:blue;
}

.nav-item a img {
    max-width: 80%;
}

#logo {
    position: absolute;
    top: 0;
    text-align: center !important;
    margin-top: 10px;
}

#logo a {
    max-width: 18%;
}

#logo img {
    max-width: 18%;
}