@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

body {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    z-index: 2;
    position: fixed;
    right: -20%;
    width: 20%;
    height: 100vh;
    top: 0;
    float: right;
    background: linear-gradient(45deg, rgba(180, 180, 160, 0.9) 0%, rgba(154, 161, 115, 0.9) 100%);
    text-align: center;
    transition: all 0.5s ease;
}

.nav-item {
    padding: 20px 0 20px 0;
}

.nav-item a {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 65px;
    text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    transition: 0.3s ease-in-out;
}

.nav-item a:focus {
    color: whitesmoke;
}

.nav-item a:hover {
    color: yellow;
    opacity: 0.7;
    text-decoration: underline;
    margin-right: 10px;
}

.dropdown-menu a {
    color: black;
}

.dropdown-menu a:hover {
    color:blue;
}

.nav-item a img {
    max-width: 80%;
}

#check {
    display: none;
}

label #btn, label #cancel {
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
}

label #btn {
    z-index: 1111;
    right: 0px;
    top: 25px;
    font-size: 35px;
    color: whitesmoke;
    padding: 6px 12px;
    transition: all 0.4s ease;
}

label #cancel {
    z-index: 1111;
    right: -20%;
    top: 17px;
    font-size: 30px;
    color: whitesmoke;
    padding: 4px 9px;
    transition: all 0.4s ease;
}

#check:checked ~ .navbar {
    right: 0;
}

#check:checked ~ label #btn {
    right: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel {
    right: 20%;
}

/* //--------------------------navbar-------------// */

#home {
    width: 100vw;
    height: 100vh;
    background-image: url(/img/backgrondimage.jpeg);
    background-size: cover;
    transform: translateY(-24px);
    border-bottom: 5px solid black;
}

/* --------------------------home----------------------- */

#logo {
    position: absolute;
    top: 10px;
    text-align: center !important;
}

#logo a {
    max-width: 18%;
}

#logo img {
    max-width: 18%;
}

/* -------------------------------logo-------------- */

#footer {
    background: linear-gradient(45deg, rgba(180, 180, 160, 0.9) 0%, rgba(154, 161, 115, 0.9) 100%);
}

.footer-top {
    border-top: 5px solid black;
    color: whitesmoke;
    text-align: center;
}

#footer .footer-top .container .row .col-lg-3 a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
    margin-bottom: 5px;
}

#footer .footer-top .container .row .col-lg-3 a:hover {
    text-decoration: underline;
    opacity: 0.7;
    transition: 0.3s;
}

#footer .footer-top .container .row .col-lg-3 p {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#footer .footer-top .container .row .col-lg-3 p i {
    font-size: 16px;
    margin-right: 5px;
    color: rgba(231, 255, 10, 0.788);
    font-weight: bolder;
}

.footer-bottom {
    border-top: 2px solid rgba(231, 255, 10, 0.788);
}

.footer-bottom .footer-words {
    position: relative;
    top: 15px;
}

.footer-bottom sup {
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.footer-bottom .footer-words h3 {
    color: whitesmoke;
    font-size: 24px;
}

.footer-bottom .social-links {
    position: relative;
    top: -15px;
}

.footer-bottom .social-links a {
    color: whitesmoke;
    margin-right: 2px;
}

.footer-bottom .social-links a:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.footer-bottom .social-links a i {
    font-size: 24px;
}

/* -------------------------------footer------------------------------ */