body {
    margin: 0;
    padding: 0;
    background-image: url(/img/backgrondimage.jpeg);
    background-size: cover;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.navbar {
    width: 20%;
    height: 80vh;
    position: fixed;
    top: 0;
    float: right;
    background-color: rgba(0, 0, 0, 0.425);
    text-align: center;
}

.nav-item {
    padding: 20px 0 20px 0;
}

.nav-item a {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
}

.nav-item a:hover {
    color: yellow;
    text-decoration: underline;
}

.dropdown-menu a {
    color: black;
}

.dropdown-menu a:hover {
    color:blue;
}

.nav-item a img {
    max-width: 80%;
}

#logo {
    position: absolute;
    top: 0;
    text-align: center !important;
    margin-top: 10px;
}

#logo a {
    max-width: 18%;
}

#logo img {
    max-width: 18%;
}

.footer {
    background-color: rgba(79, 77, 80, 0.65);
    width: 100%;
    height: 15vh;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
}

footer div i {
    font-size: 24px;
    color: greenyellow;
}

footer div a img {
    max-width: 50%;
    height: 50%;
}